In [1]:
import warnings
# filter all warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

# Load the Excel file into a Pandas DataFrame
file_path = 'ChalkData_ClassTutorial.xlsx'  # Replace with the path to your .xlsx file
df = pd.read_excel(file_path)

# use the 0th row as the header
df.columns = df.iloc[4]  # Set the first row as the header
df = df[6:154]  # Remove the first two rows from the DataFrame

# Reset the index after skipping rows
df.reset_index(drop=True, inplace=True)

df.head()  # Display the first few rows of the DataFrame

# Optionally, you can visualize basic statistics about the data
# print(df.describe())

4,Well,Formation,TVD,TVD,Overpressure,Porosity,Kgas,Gr.Den.,Dry Blk. Den,Sat. Blk. Den,...,OB Press.,Pore Press,Eff. Pres. (Terzagi),Eff.Pres. (Biot),Vp/Vs,Vp/Vs,Li&Downton,Castagna,Li&Downton,Castagna
0,Nana,chalk,2110,6922.91,NaN,33,NaN,2.731343,1.83,2.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nana,chalk,2117.8,6948.5018,NaN,26,NaN,2.689189,1.99,2.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nana,chalk,2159,7083.679,NaN,26,NaN,2.702703,2,2.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nana,chalk,2175.7,7138.4717,NaN,27,NaN,2.712329,1.98,2.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nana,chalk,2177,7142.737,NaN,26,NaN,2.716216,2.01,2.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# delete the columns having index
df.drop(df.columns[21:], axis=1, inplace=True)  # Drop the first four columns
df.head()

4,Well,Formation,TVD,TVD,Overpressure,Porosity,Kgas,Gr.Den.,Dry Blk. Den,Sat. Blk. Den,...,Dry Ver.Vs,Wet Ver. Vp,Wet Ver. Vs,Carb,Q,Cl,NaN,Sp. Surface,Clay Mineral,Texture
0,Nana,chalk,2110,6922.91,NaN,33,NaN,2.731343,1.83,2.14,...,1.81,2.55,1.465,87.4,8.4,4.2,100.0,NaN,NaN,m
1,Nana,chalk,2117.8,6948.5018,NaN,26,NaN,2.689189,1.99,2.24,...,2.075,3.245,1.74,93.3,4.466667,2.233333,100.0,NaN,NaN,m
2,Nana,chalk,2159,7083.679,NaN,26,NaN,2.702703,2,2.24,...,2.16,3.255,1.925,97.9,1.4,0.7,100.0,NaN,NaN,m
3,Nana,chalk,2175.7,7138.4717,NaN,27,NaN,2.712329,1.98,2.26,...,2.19,3.235,2.01,97.5,1.666667,0.833333,100.0,NaN,NaN,m
4,Nana,chalk,2177,7142.737,NaN,26,NaN,2.716216,2.01,2.26,...,2.185,3.365,1.97,98.3,1.133333,0.566667,100.0,NaN,NaN,m

In [4]:
df.columns[0:]

Index([         'Well',     'Formation',           'TVD',           'TVD',
        'Overpressure',    'Porosity  ',          'Kgas',       'Gr.Den.',
        'Dry Blk. Den', 'Sat. Blk. Den',   'Dry Ver. Vp',   'Dry Ver.Vs ',
         'Wet Ver. Vp',   'Wet Ver. Vs',          'Carb',             'Q',
                  'Cl',             nan,   'Sp. Surface',  'Clay Mineral',
             'Texture'],
      dtype='object', name=4)

In [5]:
df.drop(df.columns[[4, 6, 17, 18, 19]], axis=1, inplace=True) # Drop specific columns by index
df.columns[0:]  # Display the remaining columns

Index(['Well', 'Formation', 'TVD', 'TVD', 'Porosity  ', 'Gr.Den.',
       'Dry Blk. Den', 'Sat. Blk. Den', 'Dry Ver. Vp', 'Dry Ver.Vs ',
       'Wet Ver. Vp', 'Wet Ver. Vs', 'Carb', 'Q', 'Cl', 'Texture'],
      dtype='object', name=4)

In [6]:
# create a new dataframe with the remaining columns
df_new = df.copy()

In [7]:
# create new column names
column_names= ['Well', 'Formation', 'Depth_in_metres', 'Depth_in_feets', 'Porosity', 'Grain_density', 'Bulk_density_dry', 'Bulk_density_saturated', 'Vp_vertical_dry', 'Vs_vertical_dry', 'Vp_vertical_wet', 'Vs_vertical_wet', 'Carbonate_content', 'Quartz_content', 'Clay_content', 'Texture']

In [8]:
# replace the column names
df_new.columns = column_names
# Display the first few rows of the new DataFrame with updated column names
df_new.head()

,Well,Formation,Depth_in_metres,Depth_in_feets,Porosity,Grain_density,Bulk_density_dry,Bulk_density_saturated,Vp_vertical_dry,Vs_vertical_dry,Vp_vertical_wet,Vs_vertical_wet,Carbonate_content,Quartz_content,Clay_content,Texture
0,Nana,chalk,2110,6922.91,33,2.731343,1.83,2.14,2.88,1.81,2.55,1.465,87.4,8.4,4.2,m
1,Nana,chalk,2117.8,6948.5018,26,2.689189,1.99,2.24,3.345,2.075,3.245,1.74,93.3,4.466667,2.233333,m
2,Nana,chalk,2159,7083.679,26,2.702703,2,2.24,3.505,2.16,3.255,1.925,97.9,1.4,0.7,m
3,Nana,chalk,2175.7,7138.4717,27,2.712329,1.98,2.26,3.62,2.19,3.235,2.01,97.5,1.666667,0.833333,m
4,Nana,chalk,2177,7142.737,26,2.716216,2.01,2.26,3.705,2.185,3.365,1.97,98.3,1.133333,0.566667,m

In [9]:
df_new.shape

(148, 16)

In [10]:
# delete all those rows having any NaN values in columns from index 4 to last
df_new.dropna(subset=df_new.columns[4:], inplace=True)
# Reset the index after dropping rows
df_new.reset_index(drop=True, inplace=True)

In [11]:
# drop all those rows having Carbonate_content + Quartz_content + Clay_content == 0
df_new.drop(df_new[(df_new['Carbonate_content'] + df_new['Quartz_content'] + df_new['Clay_content']) == 0].index, inplace=True)
# Reset the index after dropping rows
df_new.reset_index(drop=True, inplace=True)
# Display the first 10 rows of the new DataFrame
df_new.head(10)
# Display the first 10 rows of the new DataFrame
df_new.shape

(102, 16)

In [12]:
# sort the DataFrame by the 'Depth_in_feets' column in ascending order
df_new.sort_values(by='Depth_in_feets', ascending=True, inplace=True)
# Reset the index after sorting
df_new.reset_index(drop=True, inplace=True)
# Display the first few rows of the sorted DataFrame
df_new.head()

,Well,Formation,Depth_in_metres,Depth_in_feets,Porosity,Grain_density,Bulk_density_dry,Bulk_density_saturated,Vp_vertical_dry,Vs_vertical_dry,Vp_vertical_wet,Vs_vertical_wet,Carbonate_content,Quartz_content,Clay_content,Texture
0,Nana,chalk,2108.8,6918.9728,28.6,2.703081,1.93,2.23,3.05,1.93,3.15,1.68,84,14.8,1.2,w
1,Nana,chalk,2110,6922.91,33,2.731343,1.83,2.14,2.88,1.81,2.55,1.465,87.4,8.4,4.2,m
2,Nana,chalk,2110,6922.91,32.6,2.715134,1.83,2.17,2.76,1.75,2.89,1.47,87.3,11.2,0.8,m
3,Nana,chalk,2117.8,6948.5018,26,2.689189,1.99,2.24,3.345,2.075,3.245,1.74,93.3,4.466667,2.233333,m
4,Nana,chalk,2117.8,6948.5018,26.3,2.713704,2,2.27,3.23,2.03,3.35,1.81,93.3,4.9,1.1,m

In [13]:
# add a new row (for units) to the DataFrame
new_row = pd.DataFrame({
    'Well': [''],
    'Formation': [''],
    'Depth_in_metres': ['metre'],
    'Depth_in_feets': ['feet'],
    'Porosity': ['%'],
    'Grain_density': ['g/cc'],
    'Bulk_density_dry': ['g/cc'],
    'Bulk_density_saturated': ['g/cc'],
    'Vp_vertical_dry': ['km/s'],
    'Vs_vertical_dry': ['km/s'],
    'Vp_vertical_wet': ['km/s'],
    'Vs_vertical_wet': ['km/s'],
    'Carbonate_content': ['%'],
    'Quartz_content': ['%'],
    'Clay_content': ['%'],
    'Texture': [''],  # Ensure this column has the same length as others
})

# insert the new row at the top of the DataFrame
df_new = pd.concat([new_row, df_new], ignore_index=True)

In [14]:
df_new.head(10)  # Display the first 10 rows of the DataFrame with the new row added

,Well,Formation,Depth_in_metres,Depth_in_feets,Porosity,Grain_density,Bulk_density_dry,Bulk_density_saturated,Vp_vertical_dry,Vs_vertical_dry,Vp_vertical_wet,Vs_vertical_wet,Carbonate_content,Quartz_content,Clay_content,Texture
0,,,metre,feet,%,g/cc,g/cc,g/cc,km/s,km/s,km/s,km/s,%,%,%,
1,Nana,chalk,2108.8,6918.9728,28.6,2.703081,1.93,2.23,3.05,1.93,3.15,1.68,84,14.8,1.2,w
2,Nana,chalk,2110,6922.91,33,2.731343,1.83,2.14,2.88,1.81,2.55,1.465,87.4,8.4,4.2,m
3,Nana,chalk,2110,6922.91,32.6,2.715134,1.83,2.17,2.76,1.75,2.89,1.47,87.3,11.2,0.8,m
4,Nana,chalk,2117.8,6948.5018,26,2.689189,1.99,2.24,3.345,2.075,3.245,1.74,93.3,4.466667,2.233333,m
5,Nana,chalk,2117.8,6948.5018,26.3,2.713704,2,2.27,3.23,2.03,3.35,1.81,93.3,4.9,1.1,m
6,Nana,chalk,2120.9,6958.6729,29.2,2.711864,1.92,2.22,3.02,1.89,3.08,1.61,90.4,8,0.9,m
7,Nana,chalk,2125.3,6973.1093,31.6,2.704678,1.85,2.18,3.16,1.95,3.21,1.7,85.6,13.2,0.6,m
8,Nana,chalk,2126.8,6978.0308,20.4,2.713568,2.16,2.37,3.02,2.02,3.45,1.77,84.6,12.2,1.9,m
9,Nana,chalk,2129.7,6987.5457,15,2.705882,2.3,2.46,3.44,2.22,3.91,1.98,87.2,10,1.6,p

In [15]:
# replace all the nan values of the column Depth_in_feets with 0
df_new['Depth_in_feets'].fillna(0, inplace=True)
df_new['Depth_in_metres'].fillna(0, inplace=True)
df_new.tail(10)  # Display the last 10 rows of the DataFrame

,Well,Formation,Depth_in_metres,Depth_in_feets,Porosity,Grain_density,Bulk_density_dry,Bulk_density_saturated,Vp_vertical_dry,Vs_vertical_dry,Vp_vertical_wet,Vs_vertical_wet,Carbonate_content,Quartz_content,Clay_content,Texture
93,M015,Tor,0,0,29.9,2.71,1.89971,2.19871,3.11,1.97,3.25,1.75,97.8,2,1,M
94,M017,Tor,0,0,31.3,2.71,1.86177,2.17477,3.1,1.93,3.22,1.72,97.1,3,1,W
95,M020,Tor,0,0,29.4,2.71,1.91326,2.20726,3.09,1.97,3.26,1.75,98.7,2,1,W
96,M021,Tor,0,0,30.3,2.71,1.88887,2.19187,3.18,1.95,3.22,1.7,97.4,2,1,M
97,M022,Tor,0,0,29,2.71,1.9241,2.2141,2.93,1.89,3.09,1.67,96.4,2,2,W
98,M030,Tor,0,0,29.7,2.71,1.90513,2.20213,3.14,1.96,3.23,1.74,98.4,2,1,M
99,M031,Tor,0,0,31.5,2.71,1.85635,2.17135,2.84,1.84,2.97,1.6,98.9,2,1,M
100,M032,Tor,0,0,28.8,2.71,1.92952,2.21752,3.21,2,3.27,1.75,97.1,3,1,M
101,M035,Tor,0,0,32.3,2.71,1.83467,2.15767,2.84,1.81,2.95,1.57,97.9,2,1,M
102,M037,Tor,0,0,31.7,2.71,1.85093,2.16793,2.96,1.85,3.11,1.66,98,3,1,M

In [16]:
df_new.head()

,Well,Formation,Depth_in_metres,Depth_in_feets,Porosity,Grain_density,Bulk_density_dry,Bulk_density_saturated,Vp_vertical_dry,Vs_vertical_dry,Vp_vertical_wet,Vs_vertical_wet,Carbonate_content,Quartz_content,Clay_content,Texture
0,,,metre,feet,%,g/cc,g/cc,g/cc,km/s,km/s,km/s,km/s,%,%,%,
1,Nana,chalk,2108.8,6918.9728,28.6,2.703081,1.93,2.23,3.05,1.93,3.15,1.68,84,14.8,1.2,w
2,Nana,chalk,2110,6922.91,33,2.731343,1.83,2.14,2.88,1.81,2.55,1.465,87.4,8.4,4.2,m
3,Nana,chalk,2110,6922.91,32.6,2.715134,1.83,2.17,2.76,1.75,2.89,1.47,87.3,11.2,0.8,m
4,Nana,chalk,2117.8,6948.5018,26,2.689189,1.99,2.24,3.345,2.075,3.245,1.74,93.3,4.466667,2.233333,m

In [17]:
# Save the new DataFrame to a excel file
output_file_path = 'ChalkData_ClassTutorial_cleaned.xlsx'  # Replace with the desired output file path
# df_new.to_excel(output_file_path, index=False)  # Save the DataFrame to an Excel file

In [18]:
# ! jupyter nbconvert --to script chalk_data_cleaning.ipynb